<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<ui:composition template="layout.xhtml">
	<ui:define name="content">
		<h:form id="form">

			<p:panel header="Customer List">

				<div class="ui-g">
					<div class="ui-g-2" />
					<div class="ui-g-8">
						<p:dataTable var="customer" value="#{customerListBean.lazyModel}"
							paginator="true" rows="10" paginatorPosition="bottom"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rowsPerPageTemplate="5,10,15" id="customerTable">

							<p:column headerText="ID" sortBy="#{customer.id}"
								filterBy="#{customer.id}">
								<h:outputText value="#{customer.id}" />
							</p:column>

							<p:column headerText="Name" sortBy="#{customer.name}"
								filterBy="#{customer.name}">
								<h:outputText value="#{customer.name}" />
							</p:column>

							<p:column headerText="Phone" sortBy="#{customer.phone}"
								filterBy="#{customer.phone}">
								<h:outputText value="#{customer.phone}" />
							</p:column>

							<p:column headerText="Country" sortBy="#{customer.country}"
								filterBy="#{customer.country}">
								<h:outputText value="#{customer.country}" />
							</p:column>

							<p:column headerText="State (1 | 0)" sortBy="#{customer.state}"
								filterBy="#{customer.state}">
								
								<h:outputText value="Not Valid" rendered="#{customer.state == 0}" style="color: red"/>
								<h:outputText value="Valid" rendered="#{customer.state == 1}" style="color: green"/>

							</p:column>
							
						</p:dataTable>

					</div>
					<div class="ui-g-2" />

				</div>

			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>







